<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
  <!--상단 링크-->
  <div class="wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <p class="mb-0 phone pl-md-2">
            <a href="#" class="mr-2" id="phoneLink"><span class="fa fa-phone mr-1"></span>031-0000-0000</a>
            <a href="#" id="emailLink"><span class="fa fa-paper-plane mr-1"></span>master@forcat.com</a>
          </p>
        </div>
        <div class="col-md-6 d-flex justify-content-md-end">
          <div class="social-media">
            <p class="mb-0 d-flex">
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
            </p>
          </div>
        </div>
      </div>
  </div>

  <!--네비게이션 메뉴-->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><!--<span class="flaticon-pawprint-1 mr-2">--></span>Cat comm</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                <a class="nav-link" href="/admin/item/new">상품 등록</a>
              </li>
              <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                <a class="nav-link" href="/admin/items">상품 관리</a>
              </li>
              <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/cart">장바구니</a>
              </li>
              <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/orders">구매이력</a>
              </li>
              <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="/members/login">로그인</a>
              </li>
              <!-- sec:authorize= "isAnonymouse()" : 비로그인 사용자만 보임 -->
              <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/members/logout">로그아웃</a>
              </li>
        </ul>
          </div>
      </div>
    </div>
  </nav>
  <script>
    document.addEventListener("DOMContentLoaded", function () {//페이지의 DOM 구조가 완전히 로드되면 해당 함수를 실행
      // 전화번호 복사 버튼 클릭 이벤트 처리
      document.getElementById("phoneLink").addEventListener("click", function (event) {
        event.preventDefault(); // 링크의 기본 동작 방지
        copyToClipboard("031-0000-0000"); // 전화번호 복사
      });

      // 이메일 주소 복사 버튼 클릭 이벤트 처리
      document.getElementById("emailLink").addEventListener("click", function (event) {
        event.preventDefault(); // 링크의 기본 동작 방지
        copyToClipboard("master@forcat.com"); // 이메일 주소 복사
      });

      // 텍스트를 클립보드에 복사하는 함수
      function copyToClipboard(text) {//텍스트를 클립보드에 복사
        var dummyTextArea = document.createElement("textarea");//dummyTextArea라는 새로운 <textarea> 요소를 생성
        document.body.appendChild(dummyTextArea);//body에 추가
        dummyTextArea.value = text;//dummyTextArea에 복사하려는 값, 텍스트
        dummyTextArea.select();//텍스트를 클립보드에 복사
        document.execCommand("copy");
        document.body.removeChild(dummyTextArea);//dummyTextArea를 페이지에서 제거
        alert(text + "가 클립보드에 복사되었습니다.");
      }
    });
  </script>
</div>
</html>