<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<div layout:fragment="content">
  <div class="hero-wrap js-fullheight" style="background-image: url(../static/images/bg_1.jpg); background-color: #0f6674" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-11 ftco-animate text-center" >
          <h1 class="mb-4">고양이 최대 커뮤니티 포캣에 오신 것을 환영합니다.</h1>
          <p><a href="#" class="btn btn-primary mr-md-4 py-3 px-4">Learn more <span class="ion-ios-arrow-forward"></span></a></p>
        </div>
      </div>
    </div>
  </div>

    <div class="container p-5">
      <div class="row justify-content-center mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 style="display: inline-block" class="mr-5">상품 검색</h2>
            <form class="form-inline my-2 my-lg-0" style="display: inline-block" th:action="@{/}" method="get">
              <input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
      </div>
    </div>

  <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
  <!-- 상품 검색 페이징 처리 시 검색어 유지 위한 hidden 값 -->
  <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
    <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>
  </div>
  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center pb-5 mb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h2>판매 상품 목록</h2>
        </div>
      </div>
      <div class="row">
        <th:block th:each="item, status: ${items.getContent()}">
          <div class="col-md-4 ftco-animate">
          <div class="block-7">

            <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="400">
            <div class="text-center p-4 card-body">
              <span class="excerpt d-block card-title">[[${item.itemNm}]]</span>
              <span class="price"><span class="number">[[${item.price}]]</span> <sub>원</sub></span>

              <ul class="pricing-text mb-5">
                <li><span class="fa fa-check mr-2 card-text"></span>[[${item.itemDetail}]]</li>
              </ul>
              <a th:href="'/item/' +${item.id}" class="btn btn-primary d-block px-2 py-3">상세 보기</a>
            </div>
          </div>
        </div>
        </th:block>
      </div>
    </div>
  </section>


  <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
    <ul class="pagination justify-content-center">

      <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
        <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number - 1}}" aria-label='Previous' class="page-link">
          <span aria-hidden='true'>Previous</span>
        </a>
      </li>

      <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page - 1}?'active':''">
        <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page - 1}}" th:inline="text" class="page-link">[[${page}]]</a>
      </li>

      <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
        <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">
          <span aria-hidden='true'>Next</span>
        </a>
      </li>

    </ul>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="js/main.js"></script>
</div>